.card{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}
.btn{
    -fx-background-color: linear-gradient(to bottom right, #050a9e, #4f0279); 
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #06a0ae, #022d83); 
}