.gradient{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}

.white-form{
    -fx-background-color: #fff;
}

.head-label{
    -fx-border-color: #286155;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.pass-view-btn{
	-fx-graphic:url('https://www.iconfinder.com/icons/6246884/eye_off_password_view_icon');
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861); 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f); 
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #0f6789, #286155);
    -fx-border-width: .5px;
}
.textfield:focused{
    -fx-border-width: 1px;
}

.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.signup-btn{
    -fx-background-color: linear-gradient(to bottom right, #2929d3, #040472); 
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.signup-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #098fb9, #045b75); 
}

.select_btn{
	-fx-background-color: linear-gradient(to bottom right, #4d00ff, #45016f);
	
	
	
}